<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="../static/css/style01.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<div class="main">
    <div class="social-icons"> 
         <div align="center" class="col_2_of_f span_2_of_f"><a href="#">
            <ul class='twitter'>
              <i class="tw"> </i>
              <li>Query Us</li>
              <div class='clear'> </div>
            </ul>
            </a>
        </div>
        <div class="clear"> </div>  
      </div>
        <form method="post" action="viewqasked">
           <div class="lable">
                <div class="col_1_of_2 span_1_of_2">    <input type="text" class="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" id="active"></div>
                <div class="col_1_of_2 span_1_of_2"><input type="text" class="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></div>
                <div class="clear"> </div>
           </div>
           <div class="lable-2">
                <input type="text" class="text" value="Your Contact" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your@email.com ';}">
                <!--
                <input type="text" class="text" value="Your Query" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password ';}">
                -->
                <div class="col_2_of_2 span_1_of_2">
                <textarea rows="10" id="query"></textarea>
                </div>
           </div>
           <div class="submit">
              <input type="submit" onclick="myFunction()" value="Submit Query" >
           </div>
           <div class="clear"> </div>
        </form>
        <!-----//end-main---->
        </div>
</body>
</html>